[access]
	inheritFrom = All-Projects
[project]
	description = MUSIC provides a recipe for policy-driven ownership management (prom) of state for ONAP components to (1) partition state across replicas during both initial placement and during failures based on their individual policies (2) ensure correct transfer of state ownership across replicas during site failures and network partitions (3) ensure that the new owner has access to the most recent version of state (if needed).\n\nMoved to read-only as per RELENG-3648
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-music-prom-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
